<footer class="site-footer">
  <script type="text/javascript" src="{{ "bower_components/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "bower_components/stroll/js/stroll.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "js/wine_ratings.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="cordova.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <script type="text/javascript">
    app.initialize();
  </script>
</footer>
